*{
	margin: 0; /* Resetting all margin & padding */
	padding:0;
}

body{
	font-family: Garamond Regular;
	background-image: url(../img/background.png), url(../img/background_layer.png);
	background-position:top  center;
	background-repeat: repeat;
	background-attachment: fixed;
}

#wrapper{
	width: 960px;
	min-height: 1px;
	margin: 0 auto;
	background-color: #fff;
}

header{
	width:100%;
	min-height: 114px;
	background-color: #111213;
	padding:0px 20px 0px 20px;
	box-sizing:border-box;
}
	header nav{
		width:55%;
		margin: 0 auto;
		float:left;
		font-size: 13px;
		text-transform: uppercase;
	}
		header nav ul{
			width: 100%;
			height: 100%;
			padding-left: 35px;
			list-style: none;
			box-sizing:border-box;

		}
			header nav ul li{
				float:left;
				margin-left: 10px;
			}
				header nav ul li:first-of-type{ /* CSS Selector, removes 10px margin from the first link */
				margin-left: 0px;
				}

				header ul li a{
				display: block;
				text-decoration: none;
				color:#fff;
				transition: 0.2s ease all;
				}
					header ul li a:hover{ /* CSS Selector, when hovering on links, changes color */
						color:#d0d0d0;
					}


#logo{
	width:45%;
	margin: 0 auto;
	float:left;
	height: 114px;
	position: relative;

}
	#logo img{
		position: absolute;
		top:27px;
	}

#search{
	width:55%;
	margin: 0 auto;
	min-height: 66px;
	float:left;
	position: relative;
	box-sizing: border-box;
}
.search_box{
	position: absolute;
	right:0px;
	top:15px;
	border-radius: 10px;
	padding:2px 2px 2px 5px;
	box-sizing: border-box;
	box-shadow: 1px 1px 100px 10px #323334;
}

.backbar{
	padding:20px 20px 20px 20px;
	box-sizing:border-box;
	background-color: #111213;
	height:151px;
	color:#a3a3a3;
	float:left;
}
.backbar_left{
	width:70%;
	float:left;
}
.backbar_right{
	width:30%;
	float:left;
}

main{
	width:100%;
	overflow: auto;
}

.post_wrapper{
	width:670px;
	height: auto;
	padding: 30px 20px 30px 20px;
	float:left;
}

.post{
	width:100%;
	height: auto;
	float:left;
	position: relative;
	padding: 30px 0 30px 0;
	box-sizing: border-box;
	border-bottom:1px solid #f6f6f6;
}
	.post h3, .post h5, .post p{
		line-height: 1.5;
		float:left;
		width:100%;
	}
	.post h5{
		color:#2c83b0;
		font-size:11px;
	}
	.post p{
		padding:5px 10px 0px 0px;
		box-sizing: border-box;
		font-size:16px;
	}
	.post div{
		float:left;
	}
	.post button{
		position:absolute;
		bottom: 35px;
		left:180px;
		padding:5px 40px 5px 40px;
		font-size: 12px;
		border-radius: 5px;
		color:#fff;
		background:linear-gradient(to top right, #4681a0 , #5ba8d0);
		border:none;
		box-shadow: 0px 2px 1px 0px #000;
	}
	.post img{
		border:5px solid #e9e9e9;
	}
.postbox_left{
	width:150px;
	padding-right: 15px;
}
.postbox_right{
	width:470px;
	padding-left: 15px;
}

#sidebar{
	width:250px;
	height: auto;
	float:left;
	padding: 30px 0 30px 30px;
	box-sizing: border-box;
	background-color:#f2f2f2;
	background: linear-gradient(#e7e7e7, #f2f2f2, #fff);
}
	#sidebar h2{
		margin-bottom: 30px;
	}

.feed{
	margin-bottom: 30px;
}
	.feed h4{
		margin-bottom: 30px;
	}

.sponsors{
	width:100%;
	min-height: 1px;
	float:left;
	padding: 30px 0 30px 30px;
	box-sizing: border-box;
}
	.sponsors img{
		position: absolute;
	    margin: auto;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    max-height: 75px;
	    max-width: 130px;
	}
	.sponsors h2{
		margin-bottom: 50px;
	}

.sponsor_box{
	width: 130px;
	height: 75px;
	float:left;
	border:5px solid #f6f6f6;
	margin:0 10px 10px 0;
	position: relative;
}

#pages{
	width:100%;
	min-height: 50px;
	float:left;
	padding: 30px 0 30px 30px;
	color:gray;
	box-sizing: border-box;
}
	#pages ul{
		width:100%;
	}
		#pages ul li{
			float:left;
			background-color: #eeeeee;
			margin-right: 5px;
		}
			#pages ul li:first-of-type{
				width:80px;
				height:30px;
				line-height: 30px;
				text-align: center;
			}
			#pages ul li a{
				display:block;
				width:30px;
				height:30px;
				line-height: 30px;
				text-align: center;
				color:gray;
			}
				.active{
					background-color:gray;
					color:white !important;
					padding:0px;
				}



#slider{
	width:100%;
	max-height: 360px;
	float:left;
}

.slides{
	display: none;
	max-height: 360px;
	width:100%;
}

footer{
	width:100%;
	min-height: 100px;
	background-color:#0f0f0f;
	float:left;
	overflow: auto;
	padding: 30px 0 30px 30px;
	box-sizing: border-box;
}

.footer_content{
	width:calc(100% / 3);
	float:left;
	color:#6f6e6e;
	padding: 0 20px 0 0px;
	box-sizing: border-box;
}

.footer_content h2{
	color:#ebebeb;
	margin-bottom:20px;
}

.footer_content p:nth-child(odd){
	color:#8f8f8f;
	margin:25px 0;
}

.footer_content h4{
	color:#8f8f8f;
	margin-bottom: 10px;
	font-size:18px;
}

.footer_content img{
	margin-top:30px;
}

/* Miscellaneous */
li{
	list-style: none;
}

a{
	color:#6aa6c4;
	font-weight: bold;
	text-decoration: none;
}

h2{
	font-weight: normal;
}

.responsive-img{
	width:100%;
}

/* MEDIA QUERIES */ 

@media screen and (max-width: 960px) {
  #wrapper, #logo, .post_wrapper, #sidebar, #slider {
  	width:100%;

  }
  header{
  	padding:0;
  }
	  header nav{
	  	position:fixed;
	  	top:0;
	  	left:0;
	  	right:0;
	  	text-align: center;
	  	width:inherit;
	  	height:30px;
	  	line-height: 30px;
	  	background-color: rgba(0,0,0,0.3);  
	  	z-index: 999;
	  }
	  	header nav ul {
	  		padding-left:0;
	  	}
		  	header nav ul li{
		  		width:calc(100% / 6);
		  		margin-left: 0;
		  	}
  	
  .post_wrapper{
	padding: 30px 0 30px 0;
  }

  #search{
	width:100%;
	height: 30px;
	background-color:black;
	display: block;
  }
  .search_box{
	width:80%;
	height:30px;
	left:10%;
  }

  .post button{
		bottom: 0;
		left:15px;
		box-shadow: 0px 2px 1px 0px #000;
	}
}